<!doctype html>
<html>
  <head>
    <title>Admin View</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:40px; word-wrap:break-word; background-color: 	#DCDCDC;}
    </style>
  </head>
  <body >
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Admin Page <span class="fa fa-anchor"></span></h1>
        <a href="/logout" class="btn btn-default">Logout</a>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="well">
            <h3><span class="fa fa-user"></span> User Information</h3>
              <p>
                <strong>id</strong>: <%= user.ID %><br>
                <strong>Username</strong>: <%= user.UserName %><br>
                <strong>Email</strong>: <%= user.Email %> <br>
                <!--
                <strong>password</strong>: <%//= user.password %>
                -->
              </p>
          </div>
        </div>
        <br>
    <!-- Database Information -->
        <div class = "col-sm-8 col-sm-offset-2">
          <div class = "well">
            <h3 style="display: inline"><span class = "fa fa-user"></span> Reports</h3>
            <% if(isReport === true) { %>
              <h3 style = 'display: inline'> for user: <%= user.UserName %> </h3>
              <h3> View All Reports </h3> <br>
              <% for (var i = 0; i < data.length; i++) { %>
                <a href="<%= data[i].link %>" class="btn btn-default"><span class="fa fa-user"></span> Report Date: <%= data[i].SubmitDate %> </a>
                <br>
              <% } %>
            <br><br>
            <% } else{ %>
              <form action="/admin-view" method="post">
              <label>Search by Username</label>
              <input type="text" class="form-control" name="usernamesearch">
              <br>
              <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <br>
                <a href = "/viewAllReports" class="btn btn-default" name="viewall" value="true">View All</a>
            <% } %>
            <% if (isValidated === true) { %>
              <a href="/make-report" class="btn btn-default"><span class="fa fa-pencil"></span> Make a New Report </a>   <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Back to Profile </a>
            <% } %>
          </div>
          <% if (messages != "undefined"){ %>
            <% var message = "Invalid Username!"%>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
