<!DOCTYPE html>
<html>
<head>
	<title>First Nations Report Spending</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel = "stylesheet" href = "stylesheets/formStyling.css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<!--formatting for the first three labels on the form-->
<style>

</style>
<head>
	<body onload ="editedData()">
		<script>
		function updateOther() //makes sure that certain text boxes are required if a certain checkbox is filled
		{
			console.log("HELOOOEEEEE IS THIS WORKING!@?");
			if(document.getElementById("adminSpecify").required == true)
			{
				document.getElementById("adminSpecify").required = false;
			}
			else
			{
				document.getElementById("adminSpecify").required = true;
			}

		}
		function updateAnother()
		{
			if(document.getElementById("useOther").required == true)
			{
				document.getElementById("useOther").required = false;
			}
			else
			{
				document.getElementById("useOther").required = true;
			}
		}
		function editedData()
		{
			console.log("HELOOOEEEEE IS THIS WORKING!@?");
			//sets the first three values accordingly
			document.getElementById('fundProvided').value = <%= rep.FundingProvided %>;
			document.getElementById('fundSpent').value = <%= rep.FundingSpent %>;
			document.getElementById('fundRecovered').value = <%= rep.FundingProvided - rep.FundingSpent  %>;
			//moving on to the first checkboxes

				document.getElementById('directDel').checked = <%=admin[0]%>;
				document.getElementById('thirdParty').checked = <%=admin[1]%>;
				document.getElementById('tribeCoun').checked = <%=admin[2]%>;
				document.getElementById('localHealth').checked = <%=admin[3]%>;
				document.getElementById('otherFirst').checked = <%=admin[4]%>;
				//filling in the textbox
				<%if(adminOther === ""){%>
					console.log("empty!")
					<%}else{%>
				var theAdminOther = '<%= adminOther.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'")%>' ;
				var otherText = theAdminOther;
				document.getElementById('adminSpecify').value = otherText;
			 <%}%>

			//moving on to other funding Sources
			<%if( SourceFromHomeMaking == 1){%>
			document.getElementById('checkHomeYes').checked = true;
			<%}else{%>
				document.getElementById('checkHomeNo').checked = true;
			<%}%>
			<%if(SourceFromFirstNation == 1){%>
				document.getElementById('checkGovYes').checked = true;
			<%}else{%>
				document.getElementById('checkGovNo').checked = true;
			<%}%>
			//moving on to number of clients and priorities
			document.getElementById('numClients').value = <%= rep.NumberOfClientServed %>;
			<%if(rep.HomeCarePriorities === " "){%>
				console.log("empty!");
			<%} else {%>
			var priorityText =  '<%=rep.HomeCarePriorities.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %>';
			document.getElementById('priorities').value = priorityText;
			<%}%>

			//moving on to How Funding Was spent
			<%if(use[0] == true){%>
				document.getElementById('checkDirectEmp').checked = true;
			<%}%>
			<%if(use[1] == true){%>
				document.getElementById('checkDirectOther').checked = true;
			<%}%>
			<%if(use[2] == true){%>
				document.getElementById('checkTraining').checked = true;
			<%}%>
			<%if(use[3] == true){%>
				document.getElementById('checkOperational').checked = true;
			<%}%>
			<%if(use[4] == true){%>
				document.getElementById('checkRec').checked = true;
			<%}%>
			<%if(use[5] == true){%>
				document.getElementById('checkSupply').checked = true;
			<%}%>
			<%if(use[6] == true){%>
				document.getElementById('checkOffice').checked = true;
			<%}%>
			<%if(use[7] == true){%>
				document.getElementById('checkTravel').checked = true;
			<%}%>
			<%if(use[8] == true){%>
				<%if(useOther.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'").replace(/(\r\n|\n|\r)/gm,"") === ""){%>
					console.log("empty comments!");
				<%} else {%>
				document.getElementById('checkOther').checked = true;
				var useOtherText = '<%= useOther.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'").replace(/(\r\n|\n|\r)/gm," ") %>';
				document.getElementById('useOther').value = useOtherText;
			  <%}}%>
		  //moving on to Any Other comments
			<%if(rep.Comments === " ") {%>
				console.log("empty comments!");
				<%} else {%>
					document.getElementById('comments').value = '<%= rep.Comments.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %>' ;
					<%}%>
		}
		</script>
<div class = "col-sm-10 col-sm-offset-1 jumbotron">
<h1 style = "text-align: center";>  <span class="fa fa-cloud"></span> First Nations Report Spending (Edit)  <span class="fa fa-cloud"></span> </h1>
<br>
<br>
<% if (messages != "undefined") { %>
	<% messages = "invalid password!"; %>
		<div style = "text-align: center;"  class="alert alert-danger"><%= messages %></div>
<% } %>
<form method = "POST">
<fieldset id = "theFirstThreeLinesCombined" style = "border-color: 	#000000;">
	<legend> </legend>
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundProvided">Funding Provided:    </label></b>
<input class = "centerTextAllign" type = "number" id = "fundProvided" name = "fundProvided" placeholder = "25000"/ required>
</p>
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundSpent">Funding Spent: </label></b>
<input class= "centerTextAllign" type = "number" id = "fundSpent" name = "fundSpent" placeholder = "20000"/>
 </p>
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundRecovered">Funding to be Recovered : </label></b>
<input class = "centerTextAllign" type = "number" id = "fundRecovered" name = "fundRecovered" placeholder = "5000">
<p style= "font-size: 12px; margin-top: -0.75%; ">(Funding Provided Minus Funding Spent)</p>
    </p>
</fieldset>
<br>
<fieldset id = "whoGaveService" style = "border-color: 	#000000;">
	<legend> </legend>
<b><p> Who administered home and community care services in your community in 2017-18? The Ministry of Health
and Long-Term Care will use this information to understand the service delivery network in your community.
<br>
<br>Check all that apply: </p></b>
<p id= "whoAdministeredCheckBox">
<input type="checkbox" name="adminDirect" id = "directDel"/> Direct delivery by the community<br>
<input type="checkbox" name="adminThirdParty" id = "thirdParty" /> Third-party service delivery organization (please include the name below)<br>
<input type="checkbox" name="adminCouncil" id = "tribeCoun" /> Tribal Council<br>
<input  type="checkbox" name="adminLHIN" id = "localHealth" /> Local Health Integration Network<br>
<input onclick= "updateOther()" type="checkbox" name="adminOther" id = "otherFirst" /> Other (please specify below)<br>
<br>
<input type = "text" id = "adminSpecify" name = "adminSpecify" placeholder = "Enter if you checked third party delivery organization or other" style = "width: 100%; text-align:center;"/>
</p>
</fieldset>
<br>
<!-- I should probably think 0about the case where one checks both third party AND other :P -->

<fieldset id = "otherFundingSources" style = "border-color: 	#000000;">
	<legend> </legend>
<b>Other Funding Sources: </b>
<b><label for "fundNursing">Did the community also receive funding through the Homemaking and Nursing Services Act? </label></b>
<input style = "margin-left: 1%;" type="radio" name="fundNursing" value="on"  id ="checkHomeYes"> Yes
<input style = "margin-left: 1%;" type="radio" name="fundNursing" value="off" id = "checkHomeNo"> No <br>
<br>
<b><label for "fundGov">Did the community also receive or benefit from funding through the Government of Canada’s First Nations and Inuit Home
and Community Care program?  </label></b>
<input style = "margin-left: 1%;" type="radio" name="fundGov" value="on" id = "checkGovYes" > Yes
<input style = "margin-left: 1%;" type="radio" name="fundGov" value="off" id = "checkGovNo"> No <br>
</fieldset> <br>
<!--NEW FIELDSET!!!!!!!! -->
<fieldset id = "clientsAndPriorities" style = "border-color: 	#000000;">
<b><label for "numClients">Please outline how many clients the home and community care program served in 2017-2018 with all funding sources:</label></b>
<input style = "text-align: center; margin-left: 2%;" type = "number" id = "numClients" name = "numClients" placeholder = "850" required/>
<br>
<br>
<b><label for "priorities">Please outline priorities for home and community care investment in the next five years:</label> <br></b>
<br>
<textarea id = "priorities" name = "priorities" style = "width: 100%" rows = "5"> </textarea>
</fieldset> <br>
<fieldset id = "fundingSpent" style = "border-color: 	#000000;">
	<legend> </legend>
<b><p>Please indicate how the funding was spent in 2017-18.<br> Please check all that apply: </p></b>
 <input type="checkbox" name="useTravel" id = "checkTravel" /> Travel<br>
 <input type="checkbox" name="useRecruit" id = "checkRec"/> Recruitment<br>
 <input type="checkbox" name="useTraining" id = "checkTraining"/> Training, education<br>
 <input type="checkbox" name="useSupplies" id = "checkSupply"/> Supplies/equipment for clients/patients<br>
 <input type="checkbox" name="useAdmin" id = "checkOperational"/> Operational, oversight or administrative expenses<br>
 <input type="checkbox" name="useOfficeSupplies" id = "checkOffice"/> Office supplies/equipment/IT solutions for administering the home and
 community care program<br>
 <input type="checkbox" name="useDirectFirstNations" id = "checkDirectEmp"/> Direct Services for home or community care and/or palliative care
 (directly employed by the First Nations)<br>
 <input type="checkbox" name="useDirectOther" id = "checkDirectOther"/> Direct Services for home or community care and/or palliative and end-of-life care
 (provided by another organization)<br>
 <input onclick= "updateAnother()" type="checkbox" name="other" id = "checkOther"/> Other (please specify below)<br>


 <br>
 <b> <label for "useOther">Any other home and community care or palliative and end-of-care priorities: </label> <br></b>
 <br>
 <textarea id = "useOther" name = "useOther" style = "width: 100%" rows = "5"></textarea>
</fieldset> <br>
<fieldset id = "commentsAndConfirm" style = "border-color: 	#000000;">
<b><label for "comments">Please provide any other comments: </label> </b><br>
<br>
		<textarea id = "comments" name = "comments" style = "width: 100%" rows = "5"> </textarea>
		<br>
		<b><input type="checkbox" name="approval" required/> Check if the above information is approved by the Chief or the Chief's delegated authority
    to approve reports to the ministry. </b><br>
	</fieldset> <br>
    <p style = "margin-left: 5%">
      Please Enter Your Password:
      <input  type = "password" name = "passwordconfirm" required/>
    </p>
	<input class="btn btn-warning" id = "submit" style = "margin-left: 5%; " type = "submit" onmouseover = changePointer() value = "Submit"/>
	<br>
	<script> function changePointer() { document.getElementById("submit").style.cursor = "pointer"} </script>
  </form>
  <br><br>
</div>
<!-- I could give this a seperate html page, and use include to add it in, just to modularize everything better. For now I'll just keep it here-->
	<div class = "col-sm-10 col-sm-offset-1">
		<div style = "margin-left: 5%; margin-right: 5%;">
		<h2><center> Information and notes: </center></h2>
		<br>
		<h4>Eligible areas of Expenditure</h4>
		<p>Funding is for home and community care, including palliative and end-of-life care, based on each First Nations community’s priorities.
		<br>Eligible direct and indirect expenditure areas are outlined below, based on the Home Care and Community Services Act.
		Implicit in this list are costs related to cultural and spiritual components of service delivery. </p>
		<br>
		<h4>Examples of Direct Services</h4>
		<u>Community Support Services</u>
		<ol>
			<li>Meal Services</li>
			<li>Transportation Services</li>
			<li>Caregiver support services</li>
			<li>Adult day programs</li>
			<li>Home maintenance and repair services</li>
			<li>Friendly visiting services</li>
			<li>Security checks or reassurance services</li>
			<li>Social or recreational services</li>
			<li>First Nations/Indigenous support</li>
			<li>Client intervention and assistance</li>
			<li>Emergency response</li>
			<li>Foot care</li>
			<li>Home help referral</li>
			<li>Independence training</li>
			<li>Palliative care education and consultation</li>
			<li>Psycho-geriatric consulting services related to Alzheimer disease and dementia</li>
			<li>Public education services relating to Alzheimer disease and dementia</li>
			<li>Services for persons with blindness/visual impairment</li>
			<li>Services for persons with deafness/congenital/acquired hearing loss</li>
			<br><br>
		</ol>
		</div>
	</div>
</body>


</html>
