<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Your Report</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body
        {
          padding-top:40px;  background-color: 	#DCDCDC;
        }
        .profile
        {
          font-size: calc(10px + (18-10) * (100vw - 300px)/ (2400-300));
        }
        li
        {
          font-size: :calc(10px + (18-10) * (100vw - 300px)/ (2400-300));
        }
        .well
        {
          background-color: 	#FFFFF0;
            border: 2px solid black;
        }
        .row
        {
          margin-top: 3%;
        }
        .reportSearch
        {
          font-size: calc(8px + (16-10) * (100vw - 300px)/ (2200-300));
          margin-top: -1.35%;
          margin-left: 1.65%;
          margin-right: 3%;
          display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
  <!-- Database Information -->
<div class="row">
  <a href="/profile" class="glyphicon glyphicon-arrow-left reportSearch submit" style = "font-size: 32px; color:black;"></a> &nbsp;
  <p style = "text-align:center; font-size: 42px; display:inline-block;"> <b>YOUR COMPLETE REPORT DATA</b> &nbsp; <span class="glyphicon glyphicon-list-alt" style = "font-size: 32px;"></span> </p>
    <div class = "col-sm-12">
      <div class = "well">
        <h3 style = "font-size: 34px; display: inline-block;"><span class = "fa fa-user"></span> <b> Profile </b> </h3>
        <div class = "profile">
        <strong>Username: </strong> <%= user.UserName %> <br>
        <strong>First Nation Name: </strong> <%= user.FirstNationName %> <br>
        <strong>Chief Name: </strong> <%= user.ChiefName %> <br>
        <strong>Contact Name: </strong> <%= user.ContactName %> <br>
        <strong>Phone Number: </strong> <%= user.PhoneNO %> <br>
        <strong>Email: </strong> <%= user.Email %> <br>
        <strong> Date of Creation: </strong> <%= user.CreateDate %> <br>
      </div>
      </div>
    </div>
    <div class = "col-sm-12">
    <div class = "well">
      <h3 style = "display: inline-block; font-size: 34px;"><span class = "fa fa-user"></span><b> This quarter's report</b> </h3>
      <div style = "text-align: right; display: inline;">
        <a style = "margin-left: 52%; font-size: 20px; margin-top: 0.1%;" href = "downloadReport?thisFundingId=<%= fundingid %>&userID=<%= userid %>"><span class = "glyphicon glyphicon-download" style = "color: black;"></span> </a>
        <a style = "margin-left: 3%; font-size: 20px;" href = "editReportPasswordConfirmation?thisFundingId=<%= fundingid %>&userID=<%= userid %>" > <span class="fa fa-pencil" style = "color: black;"></span> </a>
        <a style = "margin-left: 3%; font-size: 20px;" href ="deleteReport?fundingID=<%= fundingid %>&userID=<%= userid %>"> <span class = "glyphicon glyphicon-remove" style = "color: black;"></span></a>
    </div>
      <br>
      <div class = "profile">
      <strong>Funding Provided: </strong> <%= rep.FundingProvided %> <br>
      <strong>Funding Spent: </strong> <%= rep.FundingSpent %> <br>
      <strong>Funding Recovered: </strong> <%= rep.FundingProvided - rep.FundingSpent %> <br>

      <strong> List of Administrators of Home and Community Care Services: </strong> <br>
      <ul >
        <% if (admin[0] === true) { %>
          <li> Direct delivery by the community </li>
        <% } if (admin[1] === true) { %>
          <li> Third-party service delivery organization </li>
        <% } if (admin[2] === true) { %>
          <li> Tribal council </li>
        <% } if (admin[3] === true) { %>
          <li> Local Health Integration Network </li>
        <% } if (admin[4] === true) { %>
          <li> Other forms of administration:
          <% if (adminOther === "") { %>
            <p> -- NONE -- </p>
          <% } %>
          <%= adminOther.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> </li>
        <% } %>
      </ul> <br>

      <strong>Number of Clients Served: </strong> <%= rep.NumberOfClientServed %> <br>
      <strong>Home Care Priorities: </strong> <%= rep.HomeCarePriorities.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> <br>

      <strong> List of uses for government funding: </strong>
      <ul>
        <% if (use[0] === true) { %>
          <li> Direct service for home or community care and/or palliative care (direct employed by the First Nations) </li>
        <% } if (use[1] === true) { %>
          <li> Direct services for home or community care and/or palliative and end-of-life care (provided by another organization) </li>
        <% } if (use[2] === true) { %>
          <li> Training and education </li>
        <% } if (use[3] === true) { %>
          <li> Operational, oversight, or administrative expenses </li>
        <% } if (use[4] === true) { %>
          <li> Recruitment </li>
        <% } if (use[5] === true) { %>
          <li> Supplies/equipment for clients/patients </li>
        <% } if (use[6] === true) { %>
          <li> Office supplies/equipment/IT solutions for administering the home and community care program </li>
        <% } if (use[7] === true) { %>
          <li> Travel </li>
        <% } if (use[8] === true) { %>
          <li> Other home and community care or palliative and end-of-life care priorities: <br>
            <% if (useOther === "") { %>
              <p> -- NONE -- </p>
            <% } %>
          <%= useOther.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> </li>
        <% } %>
      </ul> <br>

      <strong> Comments: </strong> <%= rep.Comments.replace(/&quot;/g, "\"").replace(/&rsquo;/g, "\'") %> <br>
      <strong> Approved: </strong> <% if (rep.Approved === 1) { %>
        <p> APPROVED! </p>
      <%  } %> <br>
      <strong> Submit Date: </strong> <%= rep.SubmitDate %> <br>
      <br>
    </div>
    </div>
  </div>
  </div>

</div>

</div>
</body>
</html>
